Трутень Дмитро, ФІТ, 4-4
Варіант 28

Завдання 1. Виведіть перші 5 рядків таблиці.

In [ ]:
import pandas as pd 

import numpy as np 

# Зчитуємо дані з вказаного URL 
url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96" 

# Зчитуємо таблицю в DataFrame 
data = pd.read_html(url, header=0)[2]  # Обираємо другий елемент списку, де знаходиться таблиця 

print(data.head(5))

Завдання 2. Визначте кількість рядків і стовпчиків за допомогою атрибуту shape.

In [ ]:
num_rows, num_columns = data.shape
print(f"Кількість рядків: {num_rows}, Кількість стовпчиків: {num_columns}")

Завдання 3. Визначте загальну кількість років та кількість місяців у даних.

In [ ]:
num_years = data.shape[0]
num_months = data.shape[1] - 1  # Віднімаємо 1, оскільки перший стовпчик - це рік
print(f"Загальна кількість років: {num_years}, Кількість місяців: {num_months}")

Завдання 4. Замінити пропущені значення  «-» в таблиці на NaN

In [ ]:
data.replace("-", np.nan, inplace=True)

Завдання 5. Визначити тип стовпців за допомогою dtypes.

In [ ]:
print(data.dtypes)

Завдання 6. Видаліть передостанній і останній стовпчики ( Кількість кгхліба[20] на середнюзарплату,  Кільксть БігМаків на середню зарплату). Далі працюйте з оновленою таблицею.

In [ ]:
data = data.iloc[:, :-2]  # Видаляємо останні два стовпчики

Завдання 7. Замінити тип нечислових даних на числові.

In [ ]:
data = data.apply(pd.to_numeric, errors='coerce')

Завдання 8. Порахуйте частку пропусків в кожній колонці (за допомогою методів isnull , sum, len)

In [ ]:
missing_percentage = (data.isnull().sum() / len(data)) * 100
print(missing_percentage)

Завдання 9. Замініть всі пропущені значення на середні значення по (стовпцю).

In [ ]:
data.fillna(data.mean(), inplace=True)

Завдання 10. Знайдіть рік з найвищою зарплатою в Україні в грн і вкажіть цю зарплату.

In [ ]:
max_salary_year = data.iloc[data['Середня зарплата в Україні в грн'].idxmax()]['Рік']
max_salary_value = data['Середня зарплата в Україні в грн'].max()
print(f"Рік з найвищою зарплатою в Україні: {max_salary_year}, Зарплата: {max_salary_value} грн")

Завдання 11. Знайдіть рік з мінімальною  зарплатою в Україні в дол. США і вкажіть цю зарплату.

In [ ]:
min_salary_year_usd = data.iloc[data['Середня зарплата в Україні в дол. США'].idxmin()]['Рік']
min_salary_value_usd = data['Середня зарплата в Україні в дол. США'].min()
print(f"Рік з найнижчою зарплатою в Україні в дол. США: {min_salary_year_usd}, Зарплата: {min_salary_value_usd} USD")

Завдання 12. Виведіть роки, коли зарплата в грн була вище середньої

In [ ]:
above_avg_years = data[data['Середня зарплата в Україні в грн'] > data['Середня зарплата в Україні в грн'].mean()]['Рік']
print(f"Роки з зарплатою в грн вище середньої: {above_avg_years.tolist()}")

Завдання 13. Створіть графік, що відображає  зарплату в Україні з часом (за роками).

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 5))
plt.plot(data['Рік'], data['Середня зарплата в Україні в грн'], marker='o')
plt.title('Середня зарплата в Україні за роками')
plt.xlabel('Рік')
plt.ylabel('Середня зарплата в Україні в грн')
plt.grid(True)
plt.show()

Завдання 14. Видаліть останній рік з таблиці та виведіть оновлену таблицю.

In [ ]:
data = data.iloc[:-1]  # Видаляємо останній рік
print(data)

Завдання 15. Побудуйте графік, що відображає середню зарплату в Україні в розрізі років без останнього року.

In [ ]:
plt.figure(figsize=(10, 5))
plt.bar(data['Рік'], data['Середня зарплата в Україні в грн'])
plt.title('Середня зарплата в Україні (без останнього року)')
plt.xlabel('Рік')
plt.ylabel('Середня зарплата в Україні в грн')
plt.grid(True)
plt.show()

Завдання 16. Обчисліть зарплату за останні два роки і порівняйте її із зарплатою за останні 5 років. Вкажіть, чи є різниця, і в якому напрямку.

In [ ]:
salary_last_two_years = data.iloc[-2:]['Середня зарплата в Україні в грн'].sum()
salary_last_five_years = data.iloc[-5:]['Середня зарплата в Україні в грн'].sum()

if salary_last_two_years > salary_last_five_years:
    difference = salary_last_two_years - salary_last_five_years
    print(f"Зарплата за останні два роки вища на {difference} грн")
elif salary_last_two_years < salary_last_five_years:
    difference = salary_last_five_years - salary_last_two_years
    print(f"Зарплата за останні два роки нижча на {difference} грн")
else:
    print("Зарплата за останні два роки та за останні п'ять років однакова")

Висновок:
Під час виконання даної роботи були вирішені різноманітні завдання з обробки та аналізу даних. У ході виконання роботи було проведено аналіз та обробку даних про середню зарплату в Україні за різні роки. Дані були завантажені, очищені від пропущених значень, конвертовані у числовий формат та виведені у зручну для подальшого використання форму. Були знайдені роки з найвищою та найнижчою зарплатою в різних валютах, а також визначено роки, коли зарплата в гривнях перевищувала середнє значення. Побудовані графіки дозволили візуалізувати динаміку заробітних плат у країні.